 body {
  height: 100vh;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px; 
  border: 2px solid black;
}

 .grid-box {
  display: flex;
 }

 